{{page-title "FrontendSocials"}}
<nav>
  <LinkTo @route="index">Home</LinkTo>
  <LinkTo @route="register">Register</LinkTo>
  <LinkTo @route="login">Login</LinkTo>
</nav>

<h1>Welcome!</h1>

{{outlet}}
