{{page-title "FrontendSocials"}}
<BsNavbar @type="light" @backgroundColor="light" as |navbar|>
  <LinkTo @route="index" class="navbar-brand">Socials</LinkTo>
  <navbar.toggle />
  <navbar.content>
    <navbar.nav as |nav|>
      <nav.item>
        <nav.link-to @route="register">Register</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="login">Login</nav.link-to>
      </nav.item>
    </navbar.nav>
  </navbar.content>
</BsNavbar>

<div class="container">
  {{outlet}}
</div>
